@model IEnumerable<Ceylangiyim.Core.Entities.Coupon>

@{
    ViewData["Title"] = "Kuponlar";
}

<h2>Kuponlar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kupon Kodu</th>
            <th>İndirim Oranı</th>
            <th>İndirim Tutarı</th>
            <th>S. K. Tarihi</th>
            <th>Sil?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coupon in Model)
        {
            <tr>
                <td>@coupon.Code</td>
                @if(coupon.Discount.HasValue)
                {
                    <td>@coupon.Discount (%)</td>
                }
                else{
                    <td>--</td>
                }

                @if (coupon.DiscountAmount.HasValue)
                {
                    <td>@coupon.DiscountAmount (TL)</td>
                }
                else
                {
                    <td>--</td>
                }
                <td>@coupon.ExpirationDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <form asp-action="Delete" asp-controller="Coupons" method="post" class="d-inline" onsubmit="return confirm('Bu kuponu silmek istediğinizden emin misiniz?');">
                        <input type="hidden" name="id" value="@coupon.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Sil
                        </button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Coupons")" class="btn btn-primary">Yeni Kupon Ekle</a>
